# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider / JetBrains
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

appsettings.Development.json
appsettings.Local.json

supabase/migrations/supabase/
supabase/.temp/
supabase/migrations/.temp/